<!--app/templates/index.html-->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row min-vh-100">
        <div class="col-md-6 p-0">
            <img src="{{ url_for('static', filename='img/background.jpg') }}" class="img-fluid h-100 w-100 object-fit-cover" alt="Background">
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="text-center">
                <h1 class="mb-4">Welcome to URL Filter Management</h1>
                <div class="d-grid gap-3 col-6 mx-auto">
                    <a href="{{ url_for('auth.login', user_type='admin') }}" class="btn btn-primary">Admin Login</a>
                    <a href="{{ url_for('auth.login', user_type='teacher') }}" class="btn btn-secondary">Teacher Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
